<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.ResultMapper">
	
	<resultMap id="joinedResult" type="Result" autoMapping="true">
		<association property="user" javaType="User" autoMapping="true" />
	</resultMap>
	
	<select id="findNewerResults" resultMap="joinedResult">
		SELECT * FROM result 
		JOIN user 
		ON result.user_id = user.id 
		WHERE user_id = #{id}
		ORDER BY time DESC
	</select>
	
	<insert id="insert" parameterType="Result">
		INSERT INTO result 
		(user_id, derection, `rank`, time, 
		east_score, south_score, 
		west_score, north_score, 
		east_player, south_player, 
		west_player, north_player)
		VALUES 
		(#{userId}, #{derection}, #{rank}, NOW(), 
		#{eastScore}, #{southScore}, 
		#{westScore}, #{northScore}, 
		#{eastPlayer}, #{southPlayer}, 
		#{westPlayer}, #{northPlayer})
	</insert>
	
	<update id="update" parameterType="Result">
		UPDATE result 
		SET derection = #{derection}, `rank` = #{rank}, 
		east_score = #{eastScore}, south_score = #{southScore}, 
		west_score = #{westScore}, north_score = #{northScore}, 
		east_player = #{eastPlayer}, south_player = #{southPlayer}, 
		west_player = #{westPlayer}, north_player = #{northPlayer} 
		WHERE result_id = #{resultId} 	
	</update>
	
	<delete id="delete" >
		DELETE FROM result 
		WHERE result_id = #{resultId} 
	</delete>
	
	<select id="findById" resultMap="joinedResult">
		SELECT 
		result.result_id, result.user_id, user.login_id, 
		result.derection, result.rank, result.time, 
		result.east_score, result.south_score, 
		result.west_score, result.north_score, 
		result.east_player, result.south_player, 
		result.west_player, result.north_player 
		FROM result 
		JOIN user 
		ON result.user_id = user.id 
		WHERE result_id = #{resultId}
	</select>
</mapper>